.Extras{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.NavBarIcon{ 
    margin-top: 0.4rem;
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    justify-content: space-around;
}

.NavBarIcon>img{
    height:2rem;
    width: 2rem;
}

.ExtraButton{
    height: 4rem;
    width: 100%;
    align-self: center;
    background-color: aqua;
    color: rgb(206, 10, 147);
}

.ExtraButton:hover{
    background-color: rgb(206, 10, 147);
    color: aqua;
}