 #Logo{
    height: 3rem;
    width:  3rem;
 }

 .Search{
    display: flex;
    gap: 0.75rem;
 }

 .SearchBar{
    display: flex;
    background-color: aquamarine;
    padding: 5px;
    border: 4px;
    border-radius: 10px;
 }

 #Bar{
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: aliceblue;
    opacity: 80%;
 }
 #Bar:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: aliceblue;
    opacity: 1;
    cursor: pointer;
 }
 .SearchIcon{
    color: #175cff;
    margin-left: 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(60deg, rgb(119, 39, 209), #175cff);
    border-radius: 6px;
    padding: 6px;
 }

 .SearchIcon:hover{
    color: white;
    cursor: pointer;
 }