 #Logo{
    height: 3rem;
    width:  3rem;
 }

 .Search{
    display: flex;
    gap: 0.75rem;
 }

 .SearchBar{
    display: flex;
    background-color: aquamarine;
    padding: 5px;
    border: 4px;
    border-radius: 10px;
 }

 #Bar{
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: aliceblue;
 }
 .SearchIcon{
    color: #175cff;
    font-weight: 200;
 }