.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.Post>img{
    width: 100%;
    max-width: 24rem;
    max-height: 24rem;
    object-fit: cover;
    border-radius: 0.6rem;
}

.PostReactions{ 
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

#reactions{
    height:2rem;
    width: 2rem;
}