:root {
  --blue: #175cff;
  --blue2: #0643cf;
  --black: #0e121d;
  --gray: rgba(65, 69, 82, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: blueviolet;
  --buttonBg: linear-gradient(98.63deg, #0643cf  70%, #175cff 30%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #2b1ac5;
  --video: #5d0fec;
  --location: rgb(38, 225, 238);
--shedule: rgb(7, 89, 156);
}

body{
font-family: 'Inter', sans-serif;
margin: 0;
}