:root {
  --blue: #175cff;
  --blue2: #0643cf;
  --black: #0e121d;
  --white: #ffffff;
  --gray: rgba(65, 69, 82, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgb(154, 49, 247);
  --buttonBg: linear-gradient(98.63deg, #0643cf  70%, #175cff 30%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #2b1ac5;
  --video: #3d0d96;
  --location: rgb(38, 225, 238);
--shedule: rgb(7, 89, 156);
}

body{
font-family: 'Inter', sans-serif;
margin: 0;
}

.App{
  overflow: hidden;
  color: var(--black);
  background: linear-gradient(45deg, rgb(119, 39, 209), #175cff);
  color:#ffffff;
  padding: 1rem 1rem;
}

.fade{
  position: absolute;
  width: 20rem;
  height: 14rem;
  border-radius: 40%;
  background-color: #2b1ac5;
  filter: blur(80px);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color:#175cff;
  border: none;
  border-radius: 0.4rem;
  height: 30px;
  width: auto;
  transition: all 100ms ease-in-out;
}

.button:hover{
  background-color: #0643cf;
  cursor: pointer;
}

::-webkit-scrollbar{
  display: none;
}